#root {
    max-width: 1400px;
    margin: 0 auto;
}
.layout {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1400px;
    justify-content: center;
    border: 1px solid black;
    padding: 30px;
}

.layout > div {
    display: flex;
    border: 1px solid;
    width: 100%;
    justify-content: space-around;
}
.layout > div > span:first-child {
    cursor: pointer;
}
.layout > div > span {
    display: flex;
    width: 150px;
    align-items: center;
    justify-content: center;
}
